<!--The content below is only a placeholder and can be replaced.-->

<!-- // 1. Ini adalah Pembelajaran 1 mengenai Generate Component -->

<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1> -->
  <!-- <app-new-component></app-new-component> --> <!-- //pemanggilan selector cara 1 -->
  <!-- <div class="app-new-component"> 

  </div>--> <!-- //pemanggilan selector cara 2-->
  <!-- <div app-new-component> -->
    
  <!--</div>--> <!-- //pemanggilan selector cara 3-->
<!--</div>-->

<!-- <router-outlet></router-outlet> -->

<!-- // 2. Ini adalah pelajaran kedua mengenai Interpolasi -->
<!-- <div style="text-align:center">
  <h1>
    {{ title }} belajar Interpolasi!
  </h1>
</div>

<app-interpolasi></app-interpolasi> -->

<!-- // 3. Ini adalah pelajaran ketiga mengenai Property Binding -->
<!-- <div style="text-align:center">
  <h1>
    {{ title }} belajar Property Binding!
  </h1>
</div>

<app-propertybinding></app-propertybinding> -->

<!-- // 4. Ini adalah pelajaran keempat mengenai Class Binding -->
<!-- <div style="text-align:center">
  <h1>
    {{ title }} belajar Class Binding!
  </h1>
</div>

<app-classbinding></app-classbinding> -->

<!-- // 5. Ini adalah pelajaran kelima mengenai Style Binding -->
<!-- <div style="text-align:center">
  <h1>
    {{ title }} belajar Style Binding!
  </h1>
</div>

<app-stylebinding></app-stylebinding> -->

<!-- // 6. Ini adalah pelajaran keenam mengenai Event Binding -->
<!-- <div style="text-align:center">
  <h1>
    {{ title }} belajar Event Binding!
  </h1>
</div>

<app-event-binding></app-event-binding> -->

<!-- // 7. Ini adalah pelajaran ketujuh mengenai Template References Variable -->
<!-- <div style="text-align:center">
  <h1>
    {{ title }} belajar Template References Variable!
  </h1>
</div>

<app-template-references-variable></app-template-references-variable> -->

<!-- // 8. Ini adalah pelajaran kedelapan mengenai Two Way Binding -->
<!-- <div style="text-align:center">
  <h1>
    {{ title }} belajar Two Way Binding!
  </h1>
</div>

<app-two-way-binding></app-two-way-binding> -->

<!-- // 9. Ini adalah pelajaran kesembilan mengenai ng If Directive -->
<div style="text-align:center">
  <h1>
    {{ title }} belajar ng If Directive!
  </h1>
</div>

<app-ng-if-directive></app-ng-if-directive>